@font-face {
  font-family: "first-font";
  src: url(./Exo_2/Exo2-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "second-font";
  src: url(./Roboto_Flex/second.ttf) format('truetype');
  font-weight: 100 900;
  font-style: normal;
}