.images {
  margin-top: 30px;
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 30px;
}

.decoration {
  position: relative;
}

.decoration::before {
  content: "";
  width: 20px;
  height: 40px;
  background-color: #DC4245;
  position: absolute;
  left: 5px;
  top: -10px;
  border-radius: 5px;
}

.icon {
  font-size: 7rem;
}

.content {
  color: #212529;
  transition: all 0.3s;
}

.content:hover {
  background-color: #212529;
  color: #fff;
}

